
body {
  background: url('../images/background.jpg');
  background-size: 100% auto;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#headertext {
  font-weight: bolder;
}

/*Navbar icons*/
#email_icon, #vpn_icon {
  margin-right: 5px;
}

/*Navbar fields*/
#email, #password {
  margin-right: 20px;
}

#password :hover {

}

/*Navbar buttons*/
#register, #logout {
  margin-right: 30px;
}

#logo-container {
  margin-left: -300px;
  margin-top: 17px;
  font-weight: bold;
}

#mainnav {
  height: 72px;
}

/*HIT ME button*/
#start {
  margin-top: 0px;
}

#wordframe {
  margin-top: 20px;
  font-size: 150%;
}

/*Frames for graphs*/
#rate_box, #stats_box {
  width: 210px;
  height: 210px;
  padding-top: 10px;
}

#rate_box {
  float: left;
  display: inline-grid;
}

#stats_box {
  float: left;
  margin-left: 13.5%;
}

@media screen and (width: 1280px) {
    #stats_box {
        margin-left: 10.5%;
    }
}

@media screen and (width: 1366px) {
    #stats_box {
        margin-left: 12%;
    }
}

@media screen and (width: 1920px) {
    #stats_box {
        margin-left: 20%;
    }
}

@media screen and (width: 1680px) {
    #stats_box {
        margin-left: 17%;
    }
}


h3, #genderbuttons {
  margin-top: -30px;
}

#or {
  margin-left: 15px;
  margin-right: 15px;
}

/*Picture frame*/
#picframe {
  float: left;
  margin-left: 10%;
  margin-right: 10%;
  /*margin-left: 88px;*/
  border-radius: 3px;
  width: 340px;
  height: 260px;
}

/*Picture containing box*/
#picbox {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  max-width: 300px;
  max-height: 220px;
}

/*Footer buttons*/
#deleteuser, #updatewordbutton {
  float: left;
  margin-top: 50px;
}
