/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  background: url('../images/background.jpg');
  background-size: 100% auto;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#headertext {
  font-weight: bolder;
}

#email_icon, #vpn_icon {
  margin-right: 5px;
}

#email, #password {
  margin-right: 20px;
}

#register, #logout {
  margin-right: 30px;
}

#logo-container {
  margin-left: -300px;
  margin-top: 17px;
  font-weight: bold;
}

#mainnav {
  height: 72px;
}

#start {
  margin-top: 0px;
}

#wordframe {
  margin-top: 20px;
  font-size: 150%;
}

#rate_box, #stats_box {
  width: 210px;
  height: 210px;
  padding-top: 10px;
}

#rate_box {
  float: left;
  /*position: relative;*/
  /*display: inline;*/
}

#stats_box {
  float: left;
  margin-left: 47px;
}

#reset {
  float:right;
  margin-right: 10px;
  margin-top: 40px;
}

h3, #genderbuttons {
  margin-top: -30px;
}

#or {
  margin-left: 15px;
  margin-right: 15px;
}

#picframe {
  float: left;
  margin-left: 88px;
  /*margin: 0 auto;*/
  border-radius: 3px;
  width: 340px;
  height: 260px;
  /*margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;*/
  /*display: inline-block;*/
}

#picbox {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /*margin: auto;*/
  /*display: inline-block;*/
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  /*margin-bottom: 20px;*/
  max-width: 300px;
  max-height: 220px;
}

#deleteuser, #updatewordbutton {
  float: left;
  margin-top: 50px;
}
