/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#email_icon, #vpn_icon {
  margin-right: 5px;
}

#email, #password {
  margin-right: 20px;
}

#mainnav {
  height: 72px;
}

#or {
  margin-left: 15px;
  margin-right: 15px;
}
